*{
	margin: 0;
}
body {
	margin: 0;
	width: 100%;
	font-family: "Microsoft Yahei";
}
header {
	position: relative;
	height: 10vw;
	background:#1588b4;
	color: #fff;
	border: 0.05vw solid #d8d8d8;
	border-top-width:0 ;
	border-left-width:0 ;
	border-right-width:0 ;
	display: -webkit-flex; /* Safari ,Webkit内核的浏览器，必须加上-webkit前缀。*/
	display: flex;
	justify-content:space-between;
	align-items:center;

}
.tool{

}
.tool-button {
	display: inline-block;
	margin-top: 2vw;
	margin-left: 1vw;
	font-size: 6vw;
	font-weight: 400;
	height: 7vw;
	width: 7vw;
}
.tool-button img{
	width: 12vw;
}
.tool-list li:active{
	background-color: #c4c6c8;
}
.tool-list{
	padding-left: 0;
	display: none;
	position: absolute;
	left: 1vw;
	list-style-type: none;
	z-index: 1;
	font-size: 4vw;
	background-color: #ffffff;
	color:#333333;
	line-height: 15vw;
	width: 35vw;
	height: 30vw;
	border: 0.05vw solid #d8d8d8;
	border-radius: 0.5vw	;
	z-index: 2;
	box-shadow: 0 2vw 4vw #2a2929;
}
.tool-list li{
	text-align: center;
	
}
.addMyClass{
	position:fixed;
	bottom:7vw;
	right:7vw;
	z-index:2;
}
.plus{
	width:10vw;
	height:10vw;
	border-radius:50%;
	color:#fff;
	font-size:10vw;
	background-color:#1588b4;
	z-index:1;
	display: table-cell;
	vertical-align: middle;
	line-height: 9vw;
	overflow: hidden;

	/*box-shadow: 1vw 1vw 1vw #c6c6c6;*/
}
.addMyClass img{
	width: 8vw;
	height: 8vw;
	position:fixed;
	bottom:8vw;
	right:8vw;
	z-index:2;
}
.plus_shadow{
	width:10vw;
	height:10vw;
	border-radius:5vw;
	color:#fff;
	box-shadow: 0vw 1vw 1vw #c6c6c6;
	position:fixed;
	bottom:7vw;
	right:7vw;
	opacity: 0.8;
	z-index: 1;
}
.week {
	display: inline-block;
	padding-right: 5vw;
	height: 10vw;
}
#tb-week {
	display: inline-block;
	font-size: 4.5vw;
	padding-top: 15%;
}
.week-listbtn {
	content:'';
	display:inline-block;
	margin-left: 1.5vw;
	margin-bottom: 0.7vw;
	height:3vw;
	width:3vw;
	border:0.3vw solid white;
	border-right-width:0;
	border-bottom-width:0;
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
}
.circle {
	display: inline-block;
	width: 1.8vw;
	height: 1.8vw;
	background: white;
	-moz-border-radius: 0.9vw;
	-webkit-border-radius: 0.9vw;
	border-radius: 0.9vw;
}
#presentweek{
	display: inline-block;
	align-self:center;
}
#presentweek>.words {
	display: inline-block;
	font-size: 4.5vw;
	color: white;
}
.week-num {
}
.week-num .select {
	display: none;
	position: absolute;
	right: -3vw;
	width: 27vw;
	font-size: 4vw;
	color: #5aa2e0;
	padding: 1.5vw 0;
	-moz-border-radius: 0.5vw;
	-webkit-border-radius: 0.5vw;
	border-radius: 0.5vw;
	box-shadow: 0 0 1vw #ccc;
	-moz-box-shadow: 0 0 1vw #ccc;
	z-index: 1;

	overflow-y: scroll;
	height: 40vw;
	list-style-type: none;
	margin-right: 5vw;
	background-color: #fff;
}
.week-num .select li {
	position: relative;
	width: 26vw;
	height: 5vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	padding-bottom: 1.2vw;
	margin-top: 2vw;
	text-align: center;
}
.week-num .select li p {
	/*width: 24vw;*/
	margin: 0;
	display: inline-block;
	color: #515151;
}
.week-num .select li img {
	visibility: hidden;
	width: 4vw;
	height: 4vw;
	float: right;
	/*position: absolute;
	top: 0;
	right: -15px;*/
}
li.checked {
	color: #1588b4;
	height: 5.4vw;
}
/*.week-num .select li.checked p {*/
	/*border-bottom: 0 #ccc solid;*/
/*}*/
/*.week-num .select li.checked img {*/
	/*visibility: visible;*/
/*}*/


#table {
	background: #ffffff;
	font-size: 3.5vw;
	line-height: 4vw;
	text-align: center;
	/*margin-bottom: 6vw;*/
}
#tb-time {
	float: left;
	width: 7.2vw;
	padding-top: 12vw;
	/*background: #39a5ce;*/
	border-collapse:collapse;
	font-size: 4vw;
	font-weight:bold;
}
#tb-time div {
	color: #2f6391;
	position: relative;
	height: 15vw;
	line-height: 14.7vw;
	/*margin-top: 4vw;*/
	border: 0.1vw solid #d8d8d8;
	border-left-width:0vw;
	border-bottom-width:0vw;
	/*outline:#d8d8d8 solid 0.1px;*/
	box-sizing:border-box;
}
#tb-time div>p {
	color:#a4a4a4;
	left: 0;
	margin: 0;
	margin-top: -4vw;
	width: 100%;
	letter-spacing: -0.2vw;
	text-align: center;
	font-size: 2.5vw;
	line-height: 3vw;
	font-weight:normal;
	position:relative;
	top:-0.5vw;
}
#tb-right {
	margin-left: 7.2vw;
	background: #ddeaf9;
}
#tb-day {
	height: 12vw;
	font-size: 3vw;
}
#tb-day div{
	border: 0.05vw solid #d8d8d8;
	border-top-width:0vw;
	border-right-width:0vw;
	font-size: 4vw;
	line-height: 7vw;

}
#tb-day div p{
	color:#a4a4a4;
	font-size: 3vw;
	line-height: 5vw;

}
#tb-class {
	height: 150vw;
	color: #fff;
	background: #ffffff;
}
#tb-class .add_class{
	height: 0vw;
	position: absolute;
	top: 12vw;
}
#tb-class .add_class div{
	border-radius: 0.5vw;
}
#tb-day {
	display: flex;
}
#tb-day div {
	flex: 1;
	background-color:#ffffff;
}
#tb-day{
	color:#fc5f46;
}
#tb-main{
	position: absolute;
	width: 92.8vw;
}
.row {
	display: flex;
	height: 30vw;
}
.row div {
	flex: 1;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow:ellipsis;
	border-radius: 0.5vw;
}


input[type="button"],
button {
	-webkit-appearance: none;
}
#overlay {
	position: fixed;
	width: 200%; height: 200%;
	top: -50%; left: -50%;
	background: #000;
	opacity: 0.7;
	z-index: 1;
	/* Safari for macOS & iOS */
	-webkit-backdrop-filter: blur(15px);
	/* Google Chrome */
	backdrop-filter: blur(15px);
	/*-webkit-filter: blur(15px);*/
	/*-moz-filter: blur(15px);*/
	/*-o-filter: blur(15px);*/
	/*-ms-filter: blur(15px);*/
	/*filter: blur(15px);*/
}
.overlay-transp{
	position: fixed;
	width: 200%; height: 200%;
	top: -50%; left: -50%;
	background: #000;
	opacity: 0;
	display: none;
	z-index: 1;
	-webkit-backdrop-filter: blur(15px);
	/* Google Chrome */
	backdrop-filter: blur(15px);
	/*-webkit-filter: blur(15px);*/
	/*-moz-filter: blur(15px);*/
	/*-o-filter: blur(15px);*/
	/*-ms-filter: blur(15px);*/
	/*filter: blur(15px);*/

}
#detail {
	color: #777777;
	position: fixed;
	width: 72vw;
	/*height: 140vw;*/
	top: 24%; left: 50%;
	margin-left: -36vw;
	background-color: #fff;
	overflow: auto;
	border-radius: 0.5vw;
	z-index: 1;
	box-shadow:0 2vw 6vw #121111;
	display: none;
}
#detail2 {
	color: #777777;
	position: fixed;
	width: 72vw;
	/*height: 140vw;*/
	top: 24%; left: 50%;
	margin-left: -36vw;
	background-color: #fff;
	overflow: auto;
	border-radius: 0.5vw;
	z-index: 1;
	box-shadow:0 2vw 6vw #121111;
	display: none;
}
.info {
	font-size: 4.2vw;
	margin: 6vw;
}
.info2 {
	font-size: 4.2vw;
	margin: 6vw;
}
.changeBackcolor>div>img{
	width: 10vw;
	position: absolute;
	bottom: 0vw;
	right: 0vw;
	display: none;
}
#color_1{
	display: block;
}
.changeBackcolor-bg{
	height: 85vw;
	width:80vw;
	background-color: #f6f5f5;
	position: absolute;
	left: 10%;
	top:20%;
	border-radius: 1vw;
	z-index: 1;
}
.color1{
	height: 25vw;
	width: 25vw;
	background-color: #fff;
	position: absolute;
	top: 25%;
	left: 20%;
	box-shadow: 1vw 1vw 1vw  #8f9597;
	z-index: 1;
	
}
.color2{
	height: 25vw;
	width: 25vw;
	background-color: #4b4f50;
	position: absolute;
	top: 25%;
	left: 55%;
	box-shadow: 1vw 1vw 1vw  #8f9597;
	z-index: 1;
	
}
.color3{
	height: 25vw;
	width: 25vw;
	background-color: #e8decc;
	position: absolute;
	top: 45%;
	left: 20%;
	box-shadow: 1vw 1vw 1vw  #8f9597;
	z-index: 1;
}
.color4{
	height: 25vw;
	width: 25vw;
	background-color:#000000;
	position: absolute;
	top: 45%;
	left: 55%;
	box-shadow: 1vw 1vw 1vw  #8f9597;
	z-index: 1;
	
}
.feedback{
	width: 90vw;
	height: 60vw;
	margin-left:5vw;
	position: absolute;
	top:30vw;
	border: 0.1vw solid #000000;
	background-color:#fff;
	display: none;
	border-radius: 1vw;
	line-height: 60vw;
	z-index: 1;
}
.feedback>p{
	font-size: 4vw;
	text-align: center;
	color: #777777;
}

.form-img1{
	top: 27vw;
	height: 9vw;
	width: 25vw;
}
/*添加课程/考试公用样式  起*/
.time{
	padding-left:5vw;
	margin-top: 3vw;
}
.time p{
	position:relative;
	top:4vw;
	color:red;
	font-size:15vw;
	display:inline;
	line-height:1vw;
}
.time div{
	color:#777777;
	border:0.3vw solid #777777;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	display:inline-block;
}
.time div span{
	font-size:3.5vw;
}
.line{
	margin-bottom:1vw;
	width:5vw;
	height:0.1vw;
	background-color:#777777;
	display:inline-block;
}
.colon{
	font-size: 7vw;
	color:#fb4d4d;
	position: absolute;
	left: 48vw;
	bottom: 9vw;
	font-weight: bold;
}

.a_pm{
	display:inline-block;
	width:10vw;
	height:10vw;
	position: relative;
	left: -5vw;
	top: 3vw;
}
.am{
	position:relative;
	left:17vw;
	top:-8vw;
	color:#1588b4;
	font-size:5vw;
}
.pm{
	position:relative;
	left:17.5vw;
	top:-8vw;
	color:#777777;
	font-size:4.5vw;
}
.hour{
	width:10vw;
	height:120px;
	position:relative;
	left:20vw;
	top: 5vw;
	color:#777777;
	font-size:4.5vw;
	line-height: 6vw;
	display:inline-block;
	overflow: scroll;
}
.minute{
	width:10vw;
	height:120px;
	position:relative;
	left:30vw;
	top: 5vw;
	color:#777777;
	font-size:4.5vw;
	line-height: 6vw;
	display:inline-block;
	overflow: scroll;
}
.hournum{
	height: 24px;
}
.minutenum{
	height: 24px;
}
/*添加课程/考试公用样式   end*/
#choosen_hour{
	border:0vw;
	height:5vw;
	padding-left: 5vw;
	width:8vw;
	font-size: 5vw;
	color: #1588b4;
}
.choosestarttime{
	position: absolute;
	width:70vw;
	height:40vw;
	display: none;
	z-index: 10;
}
.choosestarttime_place{
	width:70vw;
	height:40vw;
	display: none;
}
.chooseendtime{
	position: absolute;
	width:70vw;
	height:40vw;
	display: none;
	z-index: 10;
}
.chooseendtime_place{
	width:70vw;
	height:40vw;
	display: none;
}

#choosen_minute{
	border:0vw;
	height:2vw;

	padding-right: 6vw;
	width:8vw;
	font-size: 5vw;
	color: #1588b4;
}
#choosen_colon{
	margin-left: 0.5vw;
	margin-right:1.5vw;
	border:0vw;
	height:5vw;
	width:2vw;
	color: #1588b4;
	font-weight: bolder;
	line-height: 1.5vw;
	position: relative;
	bottom: 0.5vw;
}
#choosen_end_hour{
	margin-left:5vw;
	border:0vw;
	height:5vw;
	width:10vw;
	color: #1588b4;
	font-size: 5vw;
}

#choosen_end_minute{
	margin-right:4vw;
	border:0vw;
	height:2vw;
	width:10vw;
	color: #1588b4;
	font-size: 5vw;
}
#choosen_end_colon{
	margin-right:2vw;
	margin-left: -1.5vw;
	border:0vw;
	height:5vw;
	width:2vw;
	color: #1588b4;
	font-weight: bolder;
	line-height: 1.5vw;
	position: relative;
	bottom: 0.7vw;
}

*::-webkit-scrollbar {display:none}
input:focus::-webkit-input-placeholder {
color: transparent;
/* transparent是全透明黑色(black)的速记法，即一个类似rgba(0,0,0,0)这样的值 */
}
.myclass{
	position:fixed;
	left:15vw;
	top:9vw;
	width: 70vw;
	/*height: 154vw;*/
	background-color:#fff;
	border:0.1vw solid #000;
	border-radius:1vw;
	display:none;
	z-index: 1;
	box-shadow: 0 2vw 4vw #2a2929;

}
.myclass>p{
	text-align:center;
	line-height: 11vw;
	margin-top: 5vw;
}
.myclass_form input{
	font-size: 3.5vw;
	border:0.3vw solid #777777;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	margin-left: 10vw;
	width: 50vw;
	line-height: 7vw;
	margin-top: 3vw;
	outline: none;
}
.myclass_form input:focus{
	border:0.4vw solid #1588b4;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
}
#submitMyClass{
	width: 10vw;
	border:0vw;
	border-bottom-width: 0;
	background-color: white;
	color: #1588b4;
	margin-top: 3vw;
	margin-left: 50vw;
	margin-bottom: 7vw;

}
.chooseWeek{
	border:0.3vw solid #777777;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	margin-left:10vw;
	width: 30vw;
	display: inline-block;
	line-height: 7vw;
	height: 7vw;
	font-size: 3.5vw;
	margin-top: 3vw;
	color: #777777;
}
.chooseWeek>.chooseWeekName{
	font-size: 3.5vw;
	width: 15vw;
	display: inline-block;

}
#choosenWeekDay{
	font-size: 4vw;
	width: 10vw;
	display: inline-block;
}
#chooseAllWeek{
	color: #1588b4;
	margin-left: 1vw;
	height: 5vw;
	width: 10vw;
	display: inline-block;
	font-size: 3vw;
}
#chooseByMyMind{
	color: #777777;
	margin-left: 1vw;
	height: 5vw;
	width: 10vw;
	display: inline-block;
	font-size: 3vw;
}
.chooseWeekList{
	display:none;
	width: 50vw;
	margin-left: 10vw;

	margin-bottom: 5vw;
	z-index: 10;
	position: relative;
}
.weekList{
	margin-top: 5vw;
	margin-left: 5vw;
}
.chooseWeekNum{
	width: 8vw;
	display: inline-block;
	color: #777777;
}
#choosenWeekDay>form{
	height: 7vw;
}
#choosenWeekDay select{
	width: 12vw;
	font-size: 3vw;
	display: inline-block;
	margin: 0vw;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 3vw;
	color: #1588b4;
}
.submitSuccess{
	position: fixed;
	top:30vw;
	left: 20vw;
	height: 40vw;
	width: 60vw;
	z-index: 10;
	background-color: #ffffff;
	border-radius: 2vw;
	display: none;
}
.submitSuccess img{
	width: 20vw;
	margin-left: 20vw;
	margin-top: 2vw;
	margin-bottom: 3vw;
}
.submitSuccess p{
	text-align: center;
	font-size: 5vw;
}
.submitFail{
	position: fixed;
	top:30vw;
	left: 20vw;
	height: 40vw;
	width: 60vw;
	z-index: 10;
	background-color: #ffffff;
	border-radius: 2vw;
	display: none;
}
.submitFail img{
	width: 20vw;
	margin-left: 20vw;
	margin-top: 2vw;
	margin-bottom: 3vw;
}
.submitFail p{
	text-align: center;
	font-size: 5vw;
}
.overlay_top{
	position: fixed;
	width: 200%; height: 200%;
	top: -50%; left: -50%;
	background: #000;
	opacity: 0.7;
	z-index: 5;
	display: none;
	-webkit-backdrop-filter: blur(15px);
	/* Google Chrome */
	backdrop-filter: blur(15px);
	/*-webkit-filter: blur(15px);*/
	/*-moz-filter: blur(15px);*/
	/*-o-filter: blur(15px);*/
	/*-ms-filter: blur(15px);*/
	/*filter: blur(15px);*/
}
.cell div {
	height: 2vw;
}
.cell p{
	line-height: 2vw;
}
.cell{
	padding-top: 1vw;
}
.add{
	position: absolute;
	top: 22vw;
	height: 0;
}
.add div {
	width: 13.25vw;
}
.delete{
	color: #1588b4;
	display: inline-block;
	margin-left: 50vw;
	padding-bottom: 5vw;

}